{
  // Azure Cloud instance among:
  // - https://login.microsoftonline.com/{0} for the AzurePublic
  //   (see https://aka.ms/aaddevv2). This is the default value
  // - https://login.microsoftonline.us/{0} for AzureUsGovernment
  //   (see https://docs.microsoft.com/azure/azure-government/documentation-government-developer-guide)
  // - https://login.partner.microsoftonline.cn/{0} for AzureChina
  //   (see https://docs.microsoft.com/azure/china/china-get-started-developer-guide)
  // - https://login.microsoftonline.de/{0} for AzureGermany
  "Instance": "https://login.microsoftonline.com/{0}",


  // ClientId (ApplicationId) as copied from the application registration (which depends on the cloud instance)
  // See docs referenced in the AzureCloudInstance section above
  "ClientId": "YOUR_CLIENT_ID_HERE",


  // Delegated resource access permissions
  // To use the default permissions configured in the application registration in your Azure account portal,
  // replace below with "https://graph.microsoft.com/.default"
  "Scopes": [
    "User.Read",
    "Mail.Send",
    "Files.ReadWrite"
  ],


  // Azure AD Audience among:
  // - tenant ID or domain (only in your organization)
  // - "organizations" (multi-tenant): Any work and school accounts
  // - "common"  (any work and school account or Microsoft personal account)
  // - "consumers" (Microsoft personal account only)
  "TenantId": "common"
}